
<mat-card class="example-card" align = "start">
  <mat-card-content>
    <title> Issue Name</title>
    <b>ID :</b>
    <b> Location :</b>
    <b>Department :</b>
    <b>Status :</b>
  </mat-card-content>
</mat-card>

<mat-card class="example-card" align = "end">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Location</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of Google Maps">
  <mat-card-content>
    <!-- Add Maps -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>COPY LOCATION</button>
  </mat-card-actions>
</mat-card>


<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="dept">
      <mat-header-cell *matHeaderCellDef> Department </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dept}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title / Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="loc">
      <mat-header-cell *matHeaderCellDef> Location Cordinates </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.loc}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="verify">
      <mat-header-cell *matHeaderCellDef> Location Cordinates </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.verify}} 
        <button mat-raised-button color="primary" >Verify</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
