.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  

  .example-card {
    max-width: 400px;
    
    
  }

  
  .example-card1 {
    max-width: 200px;
    float: right;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
  }
  
  .example-header-image {

    background-size: cover;
  }

  .card{
    width: 800px;
    height: 330px;
  }

  .detail{
    width: 300px;
    height: 200px;
  }
  
  

 .customWidthClass{
  flex: 0 0 75px;
}

  .customdeptClass{
  flex: 0 0 50%
}

 .map{
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: 200px;
}

.button{
  position: relative;
  bottom: -15px;
  left: 0px;

}

.button2{
  position: relative;
  bottom: 0px;
  left: 110px;
}

