.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  

  .example-card {
    max-width: 400px;
    
  }
  .example-card1 {
    max-width: 200px;
    float: right;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
  }
  
  .example-header-image {

    background-size: cover;
  }