.dept{
  max-width: 500px;
  max-height: 400px
}

.id,.title,.uid,.verify{
  max-width: 100px;
  max-height: 400px;
}

button{
  margin: 10px;
}

.matchip{
  float: right;
}

.div99{
  width: 400px;
  max-height: 100px;
  float: left;
  margin: 50px;
}


.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 600px;
  }
  

  .example-card {
    max-width: 400px;
    
    
  }

  
  .example-card1 {
    max-width: 200px;
    float: right;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
  }
  
  .example-header-image {

    background-size: cover;
  }

  .expansion{
    height: 600px;
  }
  

  .detail{
    width: 300px;
    height: 200px;
  }
  .map{
    max-width: 400px;
  }
  
 .desc{
  float: left;
 } 

 .customWidthClass{
  flex: 0 0 75px;
}

  .customdeptClass{
  flex: 0 0 50%
}

 .map{
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: 200px;
}

.button11 {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button11:hover {opacity: 1}

.button{
  padding-top: 20px;
  float: right;

}

.button2{
  position: relative;
  bottom: 0px;
  left: 110px;
}

