

<mat-accordion *ngFor = "let issue of issues">
    <mat-expansion-panel >
        <mat-expansion-panel-header>
         &nbsp;&nbsp;
          <div class="div99">
              <i class="material-icons">warning</i>
              &nbsp;&nbsp;
              &nbsp;&nbsp;              <b>{{ issue.description | json }}</b>
            </div>  
              <div class = "div99">
                  {{today | date:'fullDate'}}
              </div>

              <div class = "div99">
                  <mat-chip-list>
                    <mat-chip  color = "accent" selected = "true" *ngIf = "issue.verified == true;">
                        Verified
                    </mat-chip>
                    <mat-chip color = "primary" selected = "true" *ngIf = "!issue.verified == true">
                        Not Verified
                    </mat-chip>
                  </mat-chip-list>
                </div>
             
        </mat-expansion-panel-header>

        <div >
            <mat-grid-list cols="3" rowHeight="10:1">
                <mat-grid-tile>
                    
                </mat-grid-tile>
                <mat-grid-tile>
                  
                    Map Location : 
                </mat-grid-tile>
                <mat-grid-tile> 
                 Report Image : 
                </mat-grid-tile>
               
              </mat-grid-list>
</div>

        <div >
            <mat-grid-list cols="3" rowHeight="2:1">
                <mat-grid-tile>
                    Location : <br/><br/>
                    Lat : {{ issue.location.lat | json }} <br/><br/>
                    Lng : {{ issue.location.lng | json}}  <br/><br/>
      
      
                    Title :  {{ issue.title | json }} <br/><br/>
      
                    UID : {{ issue.uid | json }} <br/><br/>
      
                    
                    Verified : {{ issue.verified | json }} <br/><br/>
                
                </mat-grid-tile>
                <mat-grid-tile>
                  
                  
                    <app-map style="max-height:300px;max-width:300px;"></app-map>
                    
                </mat-grid-tile>
                <mat-grid-tile *ngIf = "issue.imageUrl"> 
                  <img style="max-height:300px;max-width:300px;" [src] = "issue.imageUrl"    alt="https://us.123rf.com/450wm/siamimages/siamimages1510/siamimages151001745/46470777-car-auto-accident-icon.jpg?ver=6">
                  
                 <!-- IMAGE :  {{ issue.imageUrl | json }} <br/>-->
                </mat-grid-tile>
               
              </mat-grid-list>
  
              

        </div>
<div > 
        <mat-grid-list cols="2" rowHeight="4:1">
          
            
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile>
              <button mat-raised-button color="primary" *ngIf="issue.verified" (click) = "resolve()">Resolved</button>
              <button mat-raised-button color="primary" (click) = "increament()">Report Spam</button>
              <button mat-raised-button color="primary" (click) = "nav()">History</button>
              <button mat-raised-button color="primary" (click) = "verify(issue.uid, issue.key)">Accept</button>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
        </mat-expansion-panel>
</mat-accordion>