<button mat-raised-button (click)="isLinear = true" id="toggle-linear">Enable linear mode</button>

<mat-vertical-stepper [linear]="isLinear" #stepper="matVerticalStepper">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      
      
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      
      
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    
  </mat-step>
</mat-vertical-stepper>
