

    <mat-toolbar color="primary" *ngIf="isLoggedIn$ | async as isLoggedIn">
        <span>
          <img src="" class="angular-logo">
            Tickets
        </span>
        <span class="fill-remaining-space"></span>
        <button mat-button routerLink="/">Sign Up</button>
        <button mat-button routerLink="login">Login</button>
        <button mat-button (click)="onLogout()" *ngIf="isLoggedIn">Logout</button>
      </mat-toolbar>

<router-outlet></router-outlet>

<app-wizard></app-wizard>
<app-map></app-map>






