<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Note ID Column -->
      <ng-container matColumnDef="noteid">
        <mat-header-cell *matHeaderCellDef> Note Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.noteid}} </mat-cell>
      </ng-container>
  
      <!-- Issue ID Column -->
      <ng-container matColumnDef="issueid">
        <mat-header-cell *matHeaderCellDef> Issue Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.issueid}} </mat-cell>
      </ng-container>
  
      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>
  
      <!-- Stage Column -->
      <ng-container matColumnDef="stage">
        <mat-header-cell *matHeaderCellDef> Stage </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.stage}} </mat-cell>
      </ng-container>

      <!-- Verification Column -->
      <ng-container matColumnDef="verification">
        <mat-header-cell *matHeaderCellDef> Verification </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.verification}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <br><br><br>



<form class = "note-form">
  <mat-card>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput #message maxlength="256" placeholder="Message">
          <mat-hint align="start"><strong>Write meaning-full info</strong> </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput #message maxlength="256" placeholder="Department">
        </mat-form-field>  
        <mat-form-field>
          <input matInput #message maxlength="256" placeholder="Stage Number">
        </mat-form-field>
        <div class = "submit">
          <button mat-raised-button color="primary" (click) = "addNote()">Add Note</button>
        </div>
      </form>
  </mat-card>
  
</form>

<div class= "wizard">
  <div poaition="right">
      <mat-card-content>
          <app-wizard></app-wizard>
        </mat-card-content>

  </div>
  
</div>

    



